[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
GenericName[ar]=متصفح الشبكة
GenericName[bg]=Уеб браузър
GenericName[ca]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ko]=웹 브라우저
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ru]=Веб-браузер
GenericName[sv]=Webbläsare
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Browse the World Wide Web
Comment[ar]=تصفح الشبكة العنكبوتية العالمية
Comment[bg]=Сърфиране в World Wide Web
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlížení webových stránek
Comment[da]=Surf på internettet
Comment[de]=Im World Wide Web surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[en_GB]=Browse the World Wide Web
Comment[es]=Navegar por la web
Comment[et]=Lehitse veebi
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[he]=גלוש ברחבי האינטרנט
Comment[hi]=वर्ल्ड वाइड वेब ब्राउज़ करें
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nl]=Verken het internet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegar na Internet
Comment[pt_BR]=Navegar na web
Comment[ru]=Доступ в Интернет
Comment[sv]=Surfa på webben
Comment[zh_CN]=浏览互联网
Comment[zh_TW]=瀏覽網際網路
Exec=/usr/bin/firefox %u
StartupNotify=true
Terminal=false
Icon=firefox
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hu]=Új ablak
Name[it]=Nuova finestra
Name[ja]=新規ウインドウ
Name[ko]=새 창
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sv]=Nytt fönster
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=/usr/bin/firefox --new-window

[Desktop Action new-private-window]
Name=New Private Window
Name[ar]=نافذة خاصة جديدة
Name[bg]=Нов прозорец за поверително сърфиране
Name[ca]=Finestra privada nova
Name[cs]=Nové anonymní okno
Name[da]=Nyt privat vindue
Name[de]=Neues privates Fenster
Name[el]=Νέο Ιδιωτικό Παράθυρο
Name[en_GB]=New Private Window
Name[es]=Nueva ventana privada
Name[et]=Uus privaatne aken
Name[fi]=Uusi yksityinen ikkuna
Name[fr]=Nouvelle fenêtre privée
Name[he]=חלון פרטי חדש
Name[hi]=नई निजी विंडो
Name[hu]=Új privát ablak
Name[it]=Nuova finestra anonima
Name[ja]=新しいプライベートウィンドウ
Name[ko]=새 사생활 보호 창
Name[nl]=Nieuw privévenster
Name[pl]=Nowe okno prywatne
Name[pt]=Nova janela privada
Name[pt_BR]=Nova janela privativa
Name[ru]=Новое приватное окно
Name[sv]=Nytt privat fönster
Name[zh_CN]=新建隐私浏览窗口
Name[zh_TW]=新增隱私視窗
Exec=/usr/bin/firefox --private-window